@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @config "../tailwind.config.js"; */

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

/* @theme {
  --color-bgColor: #0b1215;
  --color-textColor1: #f7941d;
  --color-textColor2: #f1faee;
  --font-sans: "Inter", sans-serif;
  --colors-primary: oklch(0.75 0.15 265);
} */

@layer base {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    overflow: auto;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dpqdgcipi/image/upload/v1720238432/Background_hxyroh.png");
    background-size: cover;
    font-family: "Varela Round", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #935913;
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb {
    background: #f7941d;
    border-radius: 50px;
  }
}
